
@import '~bootstrap/dist/css/bootstrap.css';

@import '~bootstrap/dist/css/bootstrap-grid.css';

#app {
    max-width: 1024px;
    margin: 30px auto 0;
}

.row {
    align-items: center;
}

i.fa-size {
    margin-right: 1em;
    font-size: 1.4em;
}

span {
    display: inline-block;
    margin: 0.5em;
    text-align: center;
    background-color: #ccc;
    width: 24px;
    border-radius: 50%;
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

.card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.selected {
    background-color: #eee;
    color: #ddd;
    cursor: not-allowed;
    pointer-events: none;
}

.used {
    background-color: #aaddaa;
    color: #ddd;
    cursor: not-allowed;
    pointer-events: none;
}